body{
    margin:0;
    font-family:Arial;
    background:#f4f4f4;
}

/* LOGIN */

.loginBox{
    width:320px;
    background:white;
    padding:30px;
    border-radius:15px;
    margin:120px auto;
    text-align:center;
    box-shadow:0 0 15px rgba(0,0,0,.2);
}

input{
    width:90%;
    padding:12px;
    margin:10px 0;
    border-radius:10px;
    border:1px solid #ccc;
}

button{
    padding:12px 20px;
    border:none;
    background:#0f172a;
    color:white;
    border-radius:10px;
    cursor:pointer;
    margin-top:10px;
}

button:hover{
    background:#1e293b;
}

/* PANEL */

.hidden{
    display:none;
}

#panelAdmin{
    padding:20px;
}

.card{
    background:white;
    padding:20px;
    border-radius:15px;
    margin:20px auto;
    width:80%;
    box-shadow:0 0 10px rgba(0,0,0,.1);
}

.item{
    background:#f1f1f1;
    padding:10px;
    margin:10px 0;
    border-radius:10px;
}
.top-buttons{
  display:flex;
  gap:10px;
  flex-wrap:wrap;
  justify-content:center;
  margin:20px;
}

.adminSection{
  background:white;
  padding:25px;
  margin:20px auto;
  width:90%;
  max-width:700px;
  border-radius:20px;
  box-shadow:0 5px 20px rgba(0,0,0,.1);
}